body {

    position: relative;
    margin: auto;
    min-width: 320px;
    /*font-family: 'Cormorant Garamond', serif;*/
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1rem;
    color: rgb(27, 25, 25);
    box-sizing: border-box;
}

.header {
    background: pink;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.body {
    
    margin: auto;
    /* background: gray; */
    /*height: 800px;*/
}

.logo {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    position: relative;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 1.5rem;
}

.menu {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    position: relative;
    padding-right: 1rem;
    padding-left: 1rem;
}

.random {
    font-size: 3rem;
    margin-top: 300px;
    margin-bottom: 50px;
}

/* .random_btn {
    border-radius: 0%;
    text-decoration: solid;
    text-transform: lowercase
    
} */

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
}

/* .click { */
    /* margin-top: 200px; */
    
/* } */

.body .container {
    /*position: fixed;
    background: wheat;
    height: 100%;
    width: 100%;
    margin-top: 0;
    text-align: center;
    align-content: center;*/
    width: 100%;
    height: 800px;
    align-items: center;
    align-content: center;
    
}

.body .flex {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.footer {
    background: rgb(208, 255, 0);
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-top: auto;
    height: 250px;

}


.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn_random {
    text-decoration: none;
    display: flex;
    color: black;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    border-color: palevioletred;
    padding: 0 24px 2px;
    border-radius: 100px;
    height: 40px;
    width: 300px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px 3px pink;
}