* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

}

.content {
    height: 5000px;
}

.container {
    width: 1200px;
    margin: 0 auto; 
    /*позиционирование по тексту */
}

.header {
    position: fixed;
    width: 100%;  
    height: 84px;
    left: 0px;
    top: 0px;
    background: #fff9f9;
    mix-blend-mode: screen;
    opacity: 0.8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.logo {
    
    float: left;
    margin-left: 320px;
    margin-top: 25px;
    font-size: 24px;
    font-family: 'Noto Sans', sans-serif;
}

.rightline {
    position:absolute;
    width: 345.08px;
    height: 647px;
    left: 1100.54px;
    top: 271px;
    transform: rotate(21.44deg);
}

.leftline {
    position: absolute;
    width: 233.4px;
    height: 468px;
    left: 77px;
    top: 1px;
}

.form3 {
    position: absolute;
    width: 177px;
    height: 180px;
    left: 945.46px;
    top: 819px;

    background: linear-gradient(248.39deg, hsl(353, 100%, 92%) 6.74%, rgba(255, 236, 239, 0.08) 89.61%);
    filter: blur(41px);
    transform: rotate(2.37deg);
}


ul, li {
    display: block;
}

header a {
    color: black;
}

.menu {
    margin-top: 30px;
    text-align: center;
    float: right;
    display: flex;
    /* text-transform: uppercase; */
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.1em;
    font-family: 'Cormorant Garamond', serif;
    color: rgb(0, 0, 0);
    padding-left: 600px;
}

.menu li {
    padding-right: 40px;
}

.menu a {
    text-decoration: none;
    
}

.offer {
    text-align: left;
    margin-top: 320px;
    float: left;
    width: 600px;
    height: 340px;
    font-size: 20px;
}

.offer h1{
    /* margin-right: 1145px; */
    text-transform: uppercase;
    font-family: 'Abril Fatface', cursive;
    font-size: 64px;
    color: rgb(0, 0, 0);
    padding-bottom: 5px;
}
#first  {
    color: rgb(0, 0, 0);
    padding-bottom: 20px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 5px;
}
#second {
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
}

#third {
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
}

.flowers {
    width: 524px;
    height: 788px;
    float: right;
}

.btn {
    color: snow;
    font-size: 16px;
    background: linear-gradient(to left, #76b852, #45B649, #76b852);
    text-decoration: none;
    width: 190px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    position: relative;
    border-radius: 30px;
    background-size: 200%;
    transition: .5s;
}

.btn:hover {
    box-shadow: 0 0 15px #76b852;
    background-position: right;
}

.form1 {
    /* Ellipse 1 */
    position: absolute;
    width: 356.29px;
    height: 277.34px;
    left: 80px;
    top: 101.6px;

    background: linear-gradient(141.62deg, hsl(350, 100%, 84%) 19.98%, rgba(255, 217, 217, 0) 85.16%);
    filter: blur(72px);
    transform: rotate(-26.97deg);

}

.form2 {
    /* Ellipse 2 */
    position: absolute;
    width: 572px;
    height: 506.5px;
    left: 1270px;
    top: 63px;

    background: linear-gradient(226.59deg, #2F51C9 13%, rgba(238, 71, 111, 0.53) 71.4%);
    filter: blur(80px);

}
